{% extends "_base.html" %}
{% block title %}Gallery{% endblock %}
{% block main %}

<div class="gallery">
  {% for i in photos %}
  <a class="btn" data-bs-toggle="modal" data-bs-target={{"#" + i}}>
    <img class="gallery_elem_small" src={{"./" + path + "/" + i }}>
    <!-- <img gallery="class_elem_small" src={{url_for('static', filename=path + i )}}> -->
  </a>
  <div class="modal fade" id={{i}} data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id={{i}}>{{i}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <img class="gallery_elem" src={{"./" + path + "/" + i }}>
        <div class="modal-footer">
    <form action={{"/gallery/" + i}} method="post">
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
