/* Main body styles */
body {
  background: #e3e7e8;
  color: #2C3E50;
}

/* Title / Headings */
h1, h2, h3, h4, h5, h6 {
  color: #2C3E50;
}

header {
  background-color: #2980B9;
}

header #header-image h1 {
  display: inline-block;
  background: #222;
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

/* Site header + navigation */
.site-header > nav {
  background-color: #0d6efd;
}
.site-header .navbar-nav .nav-link {
  color: #EEEEEE;
  padding: 0.5em 1em;
  margin: 0 0.3em;
  border-radius: 10px;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  background: #25D;
  border-radius: 10px;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  color: #336;
  background: #FFFFFF;
}

main {
  margin-top: 1.5rem;
}

/* content box with borders and background */
.content-box {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  /* make box rounded ;) */
  border-radius: 5px;
}
.content-box.main-content {
  min-height: 100%;
}

.news-item { color: #000; }

h1.main-title {
  color: #136;
  padding-bottom: 0.4em;
  margin-top: 1rem;
  margin-bottom: 0.7em;
  border-bottom: 1px solid #DDDDDD;
}

.todo {
  background: #FFA;
  padding: 0.7rem;
  font-style: italic;
}

.image_div {
  margin-top: 0;
}

.image_div > img {
  height: 60vh;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.actions {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5vh;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery_elem {
  flex-basis: 20%;
  align-self: center;
  width: 50vw;
}
