{# TODO: insert the HTML code from initial_design.html and convert it to a template #}
{# Hint: use jinja blocks #}

{# Note: this is a comment ;) #}

<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="./public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Website CSS -->
  <link rel="stylesheet" type="text/css" href="./public/style.css">

  <!-- <title>Lab 03 - Advanced Web</title> -->
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <header class="site-header">
    <div class="container">
      <div id="header-image"></div>
    </div>
    <!-- This is the menu -->
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="navbar-brand" href="\land">
              <img src="../public/images/logo.png" width="30" height="30" alt="logo">
            </a>
            <a class="nav-item nav-link active" href="/">Home</a>
            {%if session %}
              <a class="nav-item nav-link" href="/gallery">Gallery</a>
              <a class="nav-item nav-link" href="/upload">Upload</a>
            {% endif %}
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
              {%if session %}
              <a class="nav-item nav-link" href="/logout">Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="/login">Login</a>
              <a class="nav-item nav-link" href="/register">Register</a>
              {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main container follows (with main content + right sidebar) -->
  <main role="main" class="container">
    {% block main %}
    <div class="row">
      <div class="">
        <!-- Left-side content -->
        <div class="content-box main-content">
            {% block content %}{% endblock %}
        </div>
      </div>
      <div class="col-md-4">
        <!-- Right side bar 
        <div class="content-box" id="account">
          {% if session['username'] %}
          <h4> Hello {{session['username']}}</h4>
          <p>Click <a href="/logout">here</a> to logout</p>
          {% else %}
          <h4>Your Account</h4>
          <p class="logged-out">Not authenticated!</p>
          <p>Click <a href="/login">here to login</a></p>
          {% endif %}
        </div>
-->
      </div>
    </div>
    {% endblock %}
  </main>

  <!-- Include Bootstrap script -->
  <script src="./public/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
