<!DOCTYPE html>

<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="./public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Website CSS -->
    <link rel="stylesheet" type="text/css" href="./public/style.css">

    <!-- <title>Lab 03 - Advanced Web</title> -->
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header class="site-header">
      <!-- This is the menu -->
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="navbar-brand" href="\land">
                <img src="../public/images/logo.png" width="30" height="30" alt="logo">
              </a>
              <a class="nav-item nav-link active" href="/">Home</a>
              <a class="nav-item nav-link" href="/second">Second</a>
              <a class="nav-item nav-link" href="#TODO_third-if-you-want">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {%if session %}
              <a class="nav-item nav-link" href="/logout">Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="/login">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="text-center image_div">
        <img src={% block image %}{% endblock %} class="fluid w-100" alt="showcase images">
      </div>
      <div class="actions">
        <h1>Welcome!</h1>
        <div class="action-buttons">
          <a href="/login" class="btn btn-primary">Login</a>
          <a href="/register" class="btn btn-light">Register</a>
        </div>
      </div>
    </main>
  </body>
</html>
