{% extends "_base.html" %}
{% block content %}

<h1 class="main-title">Upload</h1>

<form method="post" enctype="multipart/form-data" class="login-form was-validated">
  {% if error_msg %}
  <div style="color: red;">{{ error_msg }}</div>
  {% endif %}
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="file" class="form-label" >Select file</label>
        <input class="form-control" name="file" type="file" id="file" accept=".jpeg,.png,.jpg" required>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="fileRename" class="form-label">Rename file (optional)</label>
        <input class="form-control" type="text" name="fileRename" placeholder="New name">
      </div>
    </div>
  </div>
  <div class="mb-3">
    <select class="form-select" name="section" required>
      <option value="">Open this select menu</option>
      <option value="fav">Favourites</option>
      <option value="dogs">Dogs</option>
      <option value="cats">Cats</option>
    </select>
    <div class="invalid-feedback">Select a valid category</div>
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}

